@import "globals";

@keyframes scaleout {
    0% { transform: scale(0); }
    100% {
        transform: scale(1.0);
        opacity: 0;
    }
}

.loading {
    width: 40px;
    height: 40px;
    margin: 1px auto;
    background-color: #333;
  
    border-radius: 100%;  
    animation: scaleout 1.0s infinite ease-in-out;
  }
