@import "variables";

.DayPickerInput {
    width: 100%;
}

.DayPicker-Day {
    border-radius: 0%;
}

.DayPicker-Caption > select {
    width: auto;
    font-size: 14px;
    padding: 0px 25px 0px 0px !important;
    border: none;
}

.DayPicker-NavButton {
    color: $text-color;
    top: 1.5em;
}

.DayPicker-Weekday {
    color: $text-color;
}