@import "variables";

.content-inner-portfolio {
    margin-right: $margin-large;
    .portfolio-history {
        overflow: auto;
        max-height: 300px;
    }

    .table-uploads {
        table {
            td {
                vertical-align: middle;
            }
        }
    }

    .view-consumption {
        width: 100%;
    }
}

.include-meter-list {
    max-height: 300px;
    overflow:auto;
}

.upload-report-modal {
    height: 800px;
    width: 100% !important;

    .uk-modal-body {
        height: 600px;

        .uk-switcher {
            height: 85%;
        }
    }

    .download-report {
        float: right;
    }
}