@import "variables";

.content-portfolios {
    height: 100%;
    display: flex;
    .filters-portfolios {
        width: 150px;
        border-right: 1px solid $grey-border;
        margin-top: $margin-medium;
        li:first-child {
            margin: 0px;
        }
        li {
            margin: $margin-large 0px 0px 0px;
            a {
                display: flex;
                .circle {
                    margin: auto;
                }
                p {
                    flex-grow: 1;
                    margin: $margin-medium;         
                }
            }
        }
    }
    .table-portfolios {
        flex-grow: 1;      
        display: flex;
        flex-direction: column;
        .container-table-portfolios {
            overflow-y: auto;
            table {
                height: 100%;
                width: 100%;
            }
        }
        .table-warning {
            text-align: center;
        }
    }
}