$margin-small: 6px;
$margin-medium: 10px;
$margin-xmedium: 15px;
$margin-large: 20px;
$margin-xlarge: 30px;
$margin-xxlarge: 40px;
$margin-xxxlarge: 50px;

$app-background: #ffffff;

$grey-border: #e5e5e5;
$text-color: #666666;

$color-proposal: orange;
$color-qualified: grey;
$color-primary: #1875f0;
$color-priced: limegreen;