@import "variables";

.content-accounts {
    height: 100%;
    display: flex;
    .table-accounts {
        flex-grow: 1;      
        display: flex;
        flex-direction: column;
        .container-table-accounts {
            overflow-y: auto;
            table {
                height: 100%;
                width: 100%;
            }
        }
        .table-warning {
            text-align: center;
        }
        .search-accounts {
            flex: none;
            margin: $margin-medium $margin-medium;
            display: flex;
            .uk-search {
                flex-grow: 1;
            }
            .actions-accounts {
                margin-left: $margin-medium;
            }
        }
    }
}