@import "variables";

.circle {
    border-radius: 50%;
    width: 10px;
    min-width: 10px;
    height: 10px;
    min-height: 10px;
    margin: 5px 15px;
}

.circle-orange {
    background-color: $color-proposal;
}

.circle-green {
    background-color: $color-priced;
}

.circle-grey {
    background-color: $color-qualified;
}

.circle-blue {
    background-color: $color-primary;
}