@import "variables";

.circle {
    border-radius: 50%;
    width: 10px;
    min-width: 10px;
    height: 10px;
    min-height: 10px;
    margin: 5px 15px;
}

.circle-orange {
    background-color: $color-proposal;
}

.circle-green {
    background-color: $color-priced;
}

.circle-grey {
    background-color: $color-qualified;
}

.circle-blue {
    background-color: $color-primary;
}

.avatar {
    flex: 0 0 30px;
    background-color: grey;
    height: 30px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.avatar-small {
    width: 15px;
    height: 15px;
}

.avatar-large {
    width: 40px;
    height: 40px;
}

.avatar-xlarge {
    width: 45px;
    height: 45px;
}

.user {
    display: flex;
    p {
        flex-grow: 1;
        margin: 2px 0px 0px $margin-medium;
    }
}