@import "variables";

.header {   
    height: 75px;
    padding-right: 20px;
    .header-content {
        display: flex;
        h3 {
            flex-grow: 1;
        }
        img {
            cursor: pointer;
        }
    }
}