@import "variables";

.content-inner-portfolio {
    margin-right: $margin-large;
    .portfolio-history {
        overflow: auto;
        max-height: 300px;
    }

    .table-uploads {
        .search-uploads {
            margin: $margin-medium $margin-medium;
            display: flex;
            .uk-search {
                flex-grow: 1;
            }
            .actions-uploads {
                margin-left: $margin-medium;
                button {
                    margin-left: $margin-small;
                }
            }
        }

        table {
            td {
                vertical-align: middle;
            }
        }
    }

    .table-mpans {
        .search-mpans {
            margin: $margin-medium $margin-medium;
            display: flex;
            .uk-search {
                flex-grow: 1;
            }
        }
    }
}

.upload-report-modal {
    height: 800px;
    width: 100% !important;

    .uk-modal-body {
        height: 80%;
    }
}

.restrict-height-hack {
    overflow: auto;
    height: 97%;
}