@import "variables";

.sidebar {
    padding: $margin-large;
    border-right: 1px solid $grey-border;
    max-width: 200px;
    min-width: 200px;
    .app-title {
        // img {
        //     height: 120px;
        // }
        .environment {
            text-align: right;
            span {
                margin-top: 0px;
            }
        }
        
    }

    li {
        margin: $margin-large $margin-medium;
    }
}