@import "variables";

.sidebar {
    padding: $margin-large;
    border-right: 1px solid $grey-border;
  
    li {
        margin: $margin-large $margin-medium;
    }
}

.label-grey {
    background: #f4f4f5;
    color: #666666;
    margin-top: 0px;
    font-size: 0.8rem;
}