@import "variables";

.sidebar {
    padding: $margin-large;
    border-right: 1px solid $grey-border;
    min-width: 320px;
    .app-title {
        h1 {
            margin-bottom: 0px;
        }
        p {
            text-align: right;
            margin-top: 0px;
        }
    }

    li {
        margin: $margin-large $margin-medium;
    }
}