@import "sidebar";
@import "portfolios";
@import "portfolio";
@import "graphics";
@import "header";
@import "spinner";
@import "dashboard";

html, body, .root, .app-container {
  min-height: 100%;
  height: 100%;
  background-color: $app-background;
}

.app-container {
    display: flex;
    padding: 0px !important;
    margin: 0px !important;
}

.content-container {
    flex-grow: 1;
    padding: $margin-large 0px 20px 20px;
}

.content-inner {
    height: 92%;
}

// UIKit Table hover override (yellow->grey)
.uk-table-hover > tr:hover, .uk-table-hover tbody tr:hover {
    background: $grey-border !important;
}