@import "variables";

.summary-report-dialog {
    width: auto !important;
}
.backing-sheet-modal {
    height: 800px;
    width: 100% !important;

    .uk-modal-body {
        height: 600px;
    }

    table { border: none; border-collapse: collapse; }
    table th { text-transform: none; }
    table td { border-left: 1px solid #eeeeee; }
    table td:first-child, table th:first-child { border-left: none; }
}